section {
    height: 100vh;
    background-image: url(../images/wallpaperLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Query para dispositivos móvies */
@media screen and (max-width: 768px) {
    section {
        background-image: none;
    }
}